/**
 * ADDITIONAL STYLING
 */
.panel-footer .btn.pull-right:not(:first-child) {
  margin-right: 5px;
}

.pointed {
  cursor: pointer;
}

.color-preview {
  position: relative;
  width: 16px;
  height: 16px;
  top: 50%;
  margin-top: -9px;
  border: solid 1px #000;
}

.hidden {
  display: none;
}

/**
 * LOGO.
 */
.logo-img {
  height: 65px;
  width: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/**
 * PREVEW MODAL
 */
.phone-template {
  width: 500px;
  height: 850px;
  margin: 0 auto;
  background-image: url('/modules/touchize/views/img/phone-background.png');
  padding: 97px 26px;
  background-size: 431px 830px;
  background-repeat: no-repeat;
  background-position: center;
}

.phone-template iframe {
  position: relative;
  width: 405px;
  height: 644px;
  padding-left: 45px;
  padding-top: 13px;
  border-style: none;
}

/**
 * LOADER
 */
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .8);
  z-index: 100;
  display: none;
}

.box-l {
  position: absolute;
  width: 300px;
  height: 80px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -40px;
  z-index: 101;
}

.loading-l:after {
  content: '';
  position: absolute;
  left: -40px;
  display: block;
  width: 40px;
  height: 50px;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
  box-shadow: 48px 0 2px rgba(61, 195, 255, .8), 96px 0 0px #3dc3ff, 144px 0 2px rgba(61, 195, 255, .8), 192px 0 4px rgba(61, 195, 255, .6), 240px 0 6px rgba(61, 195, 255, .4), 288px 0 8px rgba(61, 195, 255, .2);
  -webkit-animation: loadingAnim 2s linear infinite;
  -moz-animation: loadingAnim 2s linear infinite;
  animation: loadingAnim 2s linear infinite;
}

@-webkit-keyframes loadingAnim {
  0% {
    box-shadow: 48px 0 0px #3dc3ff, 96px 0 2px rgba(61, 195, 255, .8), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 48px 0 2px rgba(61, 195, 255, .8), 96px 0 0px #3dc3ff, 144px 0 2px rgba(61, 195, 255, .8), 192px 0 4px rgba(61, 195, 255, .6), 240px 0 6px rgba(61, 195, 255, .4), 288px 0 8px rgba(61, 195, 255, .2);
  }
  20% {
    box-shadow: 48px 0 4px rgba(61, 195, 255, .6), 96px 0 2px rgba(61, 195, 255, .8), 144px 0 0px #3dc3ff, 192px 0 2px rgba(61, 195, 255, .8), 240px 0 4px rgba(61, 195, 255, .6), 288px 0 6px rgba(61, 195, 255, .4);
  }
  30% {
    box-shadow: 48px 0 6px rgba(61, 195, 255, .4), 96px 0 4px rgba(61, 195, 255, .6), 144px 0 2px rgba(61, 195, 255, .8), 192px 0 0px #3dc3ff, 240px 0 2px rgba(61, 195, 255, .8), 288px 0 4px rgba(61, 195, 255, .6);
  }
  40% {
    box-shadow: 48px 0 8px rgba(61, 195, 255, .2), 96px 0 6px rgba(61, 195, 255, .4), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 2px rgba(61, 195, 255, .8), 240px 0 0px #3dc3ff, 288px 0 2px rgba(61, 195, 255, .8);
  }
  50% {
    box-shadow: 48px 0 10px rgba(61, 195, 255, 0), 96px 0 8px rgba(61, 195, 255, .2), 144px 0 6px rgba(61, 195, 255, .4), 192px 0 4px rgba(61, 195, 255, .6), 240px 0 2px rgba(61, 195, 255, .8), 288px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 48px 0 8px rgba(61, 195, 255, .2), 96px 0 10px rgba(61, 195, 255, 0), 144px 0 8px rgba(61, 195, 255, .2), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 4px rgba(61, 195, 255, .6), 288px 0 2px rgba(61, 195, 255, .8);
  }
  70% {
    box-shadow: 48px 0 6px rgba(61, 195, 255, .4), 96px 0 8px rgba(61, 195, 255, .2), 144px 0 10px rgba(61, 195, 255, 0), 192px 0 8px rgba(61, 195, 255, .2), 240px 0 6px rgba(61, 195, 255, .4), 288px 0 4px rgba(61, 195, 255, .6);
  }
  80% {
    box-shadow: 48px 0 4px rgba(61, 195, 255, .6), 96px 0 6px rgba(61, 195, 255, .4), 144px 0 8px rgba(61, 195, 255, .2), 192px 0 10px rgba(61, 195, 255, 0), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 6px rgba(61, 195, 255, .4);
  }
  90% {
    box-shadow: 48px 0 2px rgba(61, 195, 255, .8), 96px 0 4px rgba(61, 195, 255, .6), 144px 0 6px rgba(61, 195, 255, .4), 192px 0 8px rgba(61, 195, 255, .2), 240px 0 10px rgba(61, 195, 255, 0), 288px 0 8px rgba(61, 195, 255, .2);
  }
  100% {
    box-shadow: 48px 0 0px #3dc3ff, 96px 0 2px rgba(61, 195, 255, .8), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 10px rgba(61, 195, 255, 0);
  }
}
@-moz-keyframes loadingAnim {
  0% {
    box-shadow: 48px 0 0px #3dc3ff, 96px 0 2px rgba(61, 195, 255, .8), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 48px 0 2px rgba(61, 195, 255, .8), 96px 0 0px #3dc3ff, 144px 0 2px rgba(61, 195, 255, .8), 192px 0 4px rgba(61, 195, 255, .6), 240px 0 6px rgba(61, 195, 255, .4), 288px 0 8px rgba(61, 195, 255, .2);
  }
  20% {
    box-shadow: 48px 0 4px rgba(61, 195, 255, .6), 96px 0 2px rgba(61, 195, 255, .8), 144px 0 0px #3dc3ff, 192px 0 2px rgba(61, 195, 255, .8), 240px 0 4px rgba(61, 195, 255, .6), 288px 0 6px rgba(61, 195, 255, .4);
  }
  30% {
    box-shadow: 48px 0 6px rgba(61, 195, 255, .4), 96px 0 4px rgba(61, 195, 255, .6), 144px 0 2px rgba(61, 195, 255, .8), 192px 0 0px #3dc3ff, 240px 0 2px rgba(61, 195, 255, .8), 288px 0 4px rgba(61, 195, 255, .6);
  }
  40% {
    box-shadow: 48px 0 8px rgba(61, 195, 255, .2), 96px 0 6px rgba(61, 195, 255, .4), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 2px rgba(61, 195, 255, .8), 240px 0 0px #3dc3ff, 288px 0 2px rgba(61, 195, 255, .8);
  }
  50% {
    box-shadow: 48px 0 10px rgba(61, 195, 255, 0), 96px 0 8px rgba(61, 195, 255, .2), 144px 0 6px rgba(61, 195, 255, .4), 192px 0 4px rgba(61, 195, 255, .6), 240px 0 2px rgba(61, 195, 255, .8), 288px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 48px 0 8px rgba(61, 195, 255, .2), 96px 0 10px rgba(61, 195, 255, 0), 144px 0 8px rgba(61, 195, 255, .2), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 4px rgba(61, 195, 255, .6), 288px 0 2px rgba(61, 195, 255, .8);
  }
  70% {
    box-shadow: 48px 0 6px rgba(61, 195, 255, .4), 96px 0 8px rgba(61, 195, 255, .2), 144px 0 10px rgba(61, 195, 255, 0), 192px 0 8px rgba(61, 195, 255, .2), 240px 0 6px rgba(61, 195, 255, .4), 288px 0 4px rgba(61, 195, 255, .6);
  }
  80% {
    box-shadow: 48px 0 4px rgba(61, 195, 255, .6), 96px 0 6px rgba(61, 195, 255, .4), 144px 0 8px rgba(61, 195, 255, .2), 192px 0 10px rgba(61, 195, 255, 0), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 6px rgba(61, 195, 255, .4);
  }
  90% {
    box-shadow: 48px 0 2px rgba(61, 195, 255, .8), 96px 0 4px rgba(61, 195, 255, .6), 144px 0 6px rgba(61, 195, 255, .4), 192px 0 8px rgba(61, 195, 255, .2), 240px 0 10px rgba(61, 195, 255, 0), 288px 0 8px rgba(61, 195, 255, .2);
  }
  100% {
    box-shadow: 48px 0 0px #3dc3ff, 96px 0 2px rgba(61, 195, 255, .8), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 10px rgba(61, 195, 255, 0);
  }
}
@keyframes loadingAnim {
  0% {
    box-shadow: 48px 0 0px #3dc3ff, 96px 0 2px rgba(61, 195, 255, .8), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 10px rgba(61, 195, 255, 0);
  }
  10% {
    box-shadow: 48px 0 2px rgba(61, 195, 255, .8), 96px 0 0px #3dc3ff, 144px 0 2px rgba(61, 195, 255, .8), 192px 0 4px rgba(61, 195, 255, .6), 240px 0 6px rgba(61, 195, 255, .4), 288px 0 8px rgba(61, 195, 255, .2);
  }
  20% {
    box-shadow: 48px 0 4px rgba(61, 195, 255, .6), 96px 0 2px rgba(61, 195, 255, .8), 144px 0 0px #3dc3ff, 192px 0 2px rgba(61, 195, 255, .8), 240px 0 4px rgba(61, 195, 255, .6), 288px 0 6px rgba(61, 195, 255, .4);
  }
  30% {
    box-shadow: 48px 0 6px rgba(61, 195, 255, .4), 96px 0 4px rgba(61, 195, 255, .6), 144px 0 2px rgba(61, 195, 255, .8), 192px 0 0px #3dc3ff, 240px 0 2px rgba(61, 195, 255, .8), 288px 0 4px rgba(61, 195, 255, .6);
  }
  40% {
    box-shadow: 48px 0 8px rgba(61, 195, 255, .2), 96px 0 6px rgba(61, 195, 255, .4), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 2px rgba(61, 195, 255, .8), 240px 0 0px #3dc3ff, 288px 0 2px rgba(61, 195, 255, .8);
  }
  50% {
    box-shadow: 48px 0 10px rgba(61, 195, 255, 0), 96px 0 8px rgba(61, 195, 255, .2), 144px 0 6px rgba(61, 195, 255, .4), 192px 0 4px rgba(61, 195, 255, .6), 240px 0 2px rgba(61, 195, 255, .8), 288px 0 0px #3dc3ff;
  }
  60% {
    box-shadow: 48px 0 8px rgba(61, 195, 255, .2), 96px 0 10px rgba(61, 195, 255, 0), 144px 0 8px rgba(61, 195, 255, .2), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 4px rgba(61, 195, 255, .6), 288px 0 2px rgba(61, 195, 255, .8);
  }
  70% {
    box-shadow: 48px 0 6px rgba(61, 195, 255, .4), 96px 0 8px rgba(61, 195, 255, .2), 144px 0 10px rgba(61, 195, 255, 0), 192px 0 8px rgba(61, 195, 255, .2), 240px 0 6px rgba(61, 195, 255, .4), 288px 0 4px rgba(61, 195, 255, .6);
  }
  80% {
    box-shadow: 48px 0 4px rgba(61, 195, 255, .6), 96px 0 6px rgba(61, 195, 255, .4), 144px 0 8px rgba(61, 195, 255, .2), 192px 0 10px rgba(61, 195, 255, 0), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 6px rgba(61, 195, 255, .4);
  }
  90% {
    box-shadow: 48px 0 2px rgba(61, 195, 255, .8), 96px 0 4px rgba(61, 195, 255, .6), 144px 0 6px rgba(61, 195, 255, .4), 192px 0 8px rgba(61, 195, 255, .2), 240px 0 10px rgba(61, 195, 255, 0), 288px 0 8px rgba(61, 195, 255, .2);
  }
  100% {
    box-shadow: 48px 0 0px #3dc3ff, 96px 0 2px rgba(61, 195, 255, .8), 144px 0 4px rgba(61, 195, 255, .6), 192px 0 6px rgba(61, 195, 255, .4), 240px 0 8px rgba(61, 195, 255, .2), 288px 0 10px rgba(61, 195, 255, 0);
  }
}
